Repository FPGA-MAFIA/fpga_mafia, pull requests merged in 2023-03, with the labels that each got.

#170 Big core
  build.py
  verif/big_core/tests/level0
Labels: RTL design, build & env

#184 Shmuel mafia router
  source/router/arbiter.sv
  source/router/fifo.sv
  source/router/fifo_arb.sv
  source/router/fifo_arbiter.sv
  verif/router/tb/fifo_arb_dut.vh
  verif/router/tb/fifo_arb_trk.vh
  verif/router/tb/router_tb.sv
  verif/router/tests/alive.sv
Labels: RTL design, verificaiton, build & env

#189 Added build option -cmd , print command without executing
  build.py
Labels: build & env

#194 cache dirty evict fix
  build.py
  source/cache/cache_pipe.sv
  source/cache/cache_tq.sv
  verif/big_core/regress/level0
  verif/cache/cache_pp.py
  verif/cache/regress/alive
  verif/cache/regress/level0
  verif/cache/tb/cache_tasks.vh
  verif/cache/tb/cache_tb.sv
  verif/cache/tb/cache_trk.vh
  verif/cache/tests/many_tag_one_set.sv
  verif/cache/tests/rand_set_stress.sv
  verif/cache/tests/rand_simple.sv
Labels: RTL design, verificaiton, build & env
