Repository FPGA-MAFIA/fpga_mafia, pull requests merged in 2023-05, with the labels that each got.

#258 Shmuel mafia router
  source/fabric/fabric_rtl_list.f
  source/fabric/mini_core_tile.sv
  verif/fabric/tb/fabric_list.f
  verif/fabric/tb/fabric_tasks.vh
  verif/fabric/tb/fabric_tb.sv
  verif/fabric/tb/fabric_verif_list.f
  verif/fabric/tb/mini_core_tile_dut.vh
  verif/fabric/tb/mini_core_tile_tasks.vh
  verif/fabric/tests/README.md
  verif/fabric/tests/mini_core_tile_simple.sv
  verif/router/regress/level0
  verif/router/regress/level_fail
  verif/router/tests/fifo_arb_back_pressure.sv
Labels: RTL design, build & env

#259 Enabled the fabric
  .github/workflows/mafia_sanity.yml
  source/fabric/fabric.sv
  source/fabric/mini_core_tile.sv
  source/router/fifo.sv
  verif/fabric/regress/level0
  verif/fabric/regress/level_fail
  verif/fabric/regress/rerun
  verif/fabric/tb/fabric_dut.vh
  verif/fabric/tb/fabric_tasks.vh
  verif/fabric/tb/fabric_tb.sv
  verif/fabric/tests/fabric_alive.sv
  verif/router/tests/router_send_to_north.sv
Labels: RTL design, verificaiton

#270 Fix the use of ready logic in the fifo_arb.
  source/common/macros.sv
  source/fabric/fabric.sv
  source/fabric/mini_core_tile.sv
  source/router/arbiter.sv
  source/router/fifo.sv
  source/router/fifo_arb.sv
  source/router/router.sv
  verif/fabric/tests/fabric_alive.sv
  verif/router/regress/rerun
  verif/router/tb/fifo_arb_dut.vh
  verif/router/tb/router_tb.sv
  verif/router/tests/fifo_arb_all_fifo_full_BW.sv
  verif/router/tests/fifo_arb_back_pressure.sv
Labels: bug, RTL design, verificaiton

#277 Big core - enabled the CSR baseline tests
  FPGA/big_core/de10_lite_big_core.qsf
  source/big_core/big_core.sv
  source/big_core/big_core_csr.sv
  source/big_core/big_core_pkg.sv
  source/big_core/big_core_rtl_list.f
  verif/big_core/tests/alive_csr.c
Labels: Learning, RTL design
